/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 5, 2016, 9:15:12 AM
    Author     : Umam
*/

.header{
    width: 100%;
    margin: 10px 0 20px 0;
    display: block;
    float: left;

}

.judul h1{
    margin: 35px 0;
    color:#eb5424;
    font-size: 3em;
    text-align: center;
    font-weight:600;
    font-family: 'Baloo Paaji', cursive;
}

.footer{
    background-color: black;
}

.slider.slider-horizontal{
    margin-left: 5%;
    width: 90%;
}

.form-content{
    width: 100%;
    display: block;
    float: left;
}

.slider.slider-horizontal .slider-tick-label-container{
    margin-left: -8%;
}
.slider.slider-horizontal .slider-tick-label-container .slider-tick-label{
    width: 20%;
    margin-left: -8px;
}

.degrees{
    margin-bottom: 30px;
    display: block;
}

.degree-left h2{
    font-size: 2em;
    color:#fff;
    text-align:center;
}

.degree-left p{
    font-size: 1.3em;
    color:#fff;
    text-align: justify;
    padding: 2%;
}

.degree-right a{
    font-size: 1.5em;
    color:#fff;
    text-align:center;
    margin: 0 auto;
    display: block;
    min-height: 0px;
    height: auto;
}
.degree-right{
    word-wrap: break-word;
}

.radio-inline{
    margin-left: 5%;
    font-size: 1.2em;
}

.questions{
    font-size: 1.5em;
    display: block;
    width: 100%;
}
.qNumber{
    float: left;
    width: 4.5%;
}
.qText{
    float: left;
    position: relative;
    width: 95.5%;
}

.slider.slider-horizontal .slider-tick-label-container .slider-tick-label:first-child { 
    margin-left: 20px;
}
.slider.slider-horizontal .slider-tick-label-container .slider-tick-label:last-child { 
    margin-left: -13px;
}

@media (min-width: 1200px){
    .container {
        width: 1200px;
    }
}

.steps .catText{
    display: inline-block;
}

.vertical-error .error{
    text-align: center;
    padding: 15% 0 0 0;
}
.horizontal-error{
    text-align: center;
}